# Dependencias
node_modules/
*/node_modules/

# Variables de entorno
.env
.env.local
*/.env

# Builds
dist/
build/
*/dist/
*/build/

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# React Native
mobile/android/build/
mobile/ios/build/
mobile/android/.gradle/